.container{
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 4px;
    text-align: center;
    grid-template-areas: 
    "site nav1 nav2 nav3"
    "title title title bar"
    "meta content content bar"
    "meta content content ads"
    "meta img img ads"
    "meta img img other"
    "meta img img other"
    "footer footer footer footer"
    ;
}
#site{
    background-color: yellow;
    grid-area: site;
}
#nav1{
    background-color: palevioletred;
    grid-area: nav1;
}
#nav2{
    background-color: palevioletred;
    grid-area: nav2;
}
#nav3{
    background-color: palevioletred;
    grid-area: nav3;
}
#title{
    background-color: lightblue;
    grid-area: title;
}
#meta{
    background-color: lightgreen;
    grid-area: meta;
}
#content{
    background-color: lightgray;
    grid-area: content;
}
#img{
    background-color: yellow;
    grid-area: img;
}
#bar{
    background-color: orange;
    grid-area: bar;
}
#ads{
    background-color: green;
    grid-area: ads;
}
#other{
    background-color: magenta;
    grid-area: other;
}
footer{
    background-color: burlywood;
    grid-area: footer;
}
@media screen and (max-width: 600px){
    .container{
        display: grid;
        grid-gap: 4px;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
        grid-template-areas: 
        
        "site"
        "nav1"
        "nav2"
        "nav3"
        "title"
        "meta"
        "content"
        "img"
        "bar"
        "ads"
        "other"
        "footer"
        ;
    }
}